/* GLOBAL
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

div.container-fluid {
    padding: 0 !important;
}

header, footer {
    padding: .5em;
    color: white;
    background-color: black;
    clear: left;
}

header{
  text-align: left;
  background: url('../images/csulb-pano.png');
  background-position: left;
  background-size:cover;
  height: 60px;
}

header img{
  width: 175px;
  margin-top: -15px;
  margin-left: 10px;
}

footer{
    text-align: center;
}

aside {
    background-color: #3F3736;
    width: 25%;
    height: 1000px;
    padding: 0 !important;
}


.tab{
  display: none;
}


.tab.initial-active, .tab.active{
  display: block;
}


/* LEFT SIDE BAR SECTION
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.icon-bar {
    width: 100%; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    overflow: auto;
}

.icon-bar a {
    float: left;
    margin: 0;
    text-align: center; /* Center-align text */
    width: 33.33%;
    padding: 12px 20px 8px 20px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

div.icon-bar a.active {
   background-color: #52a88b;
}

/* NAVIGATION SUBSECTION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#navigation{
  /*float: left;*/
  padding: 0px 12px;
  padding-bottom: 0px;
  width: 100%;
  height: 500px;
}

#from, #to{

}

p.from-to{
  font-size: 25px;

}


.searchbar{
  /*margin-top:1px;*/
  margin-left:3px;
  height:40px;
  width:260px;
  font-size:22px;
}

.compass-icon{
  /*padding-top:1000px;*/
  position:relative;
  left:10px;
  top:10px;
  /*margin-left:10px;*/
}

.x-icon{
  margin-left: 90%;
}
#start, #end{
  width:300px;
}

#direction-panel {
    font-family: 'Roboto','sans-serif';
    background-color:white;

}

#direction-panel select, #direction-panel input {
    font-size: 20px;
}

#direction-panel select {
    width: 100%;

}

#direction-panel i {
    font-size: 20px;
}

#direction-panel {
    font-size: 20px;
    width:95%;
    /*background-color: white;*/
    overflow: hidden;
}
/* MAP KEY SUBSECTION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-mapkey{
   background-image: url('../symbols/mapkey.png');
   display: block;
   width: 50px;
   height: 50px;
   background-repeat: no-repeat;
}
#key{
  color: #ffffff;
}
#key a{
  color: #ffffff;
  text-decoration: none;
}

/* Styles the key tab box */
div.keytabs {
   float: left;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   width: 30%;
}

/* Styles the buttons inside the tab */
div.keytabs button {
   display: block;
   background-color: inherit;
   color: black;
   /*padding: 22px 16px;   */
   width: 100%;
   height: 133px;
   border: none;
   outline: none;
   text-align: center;
   font-size: 18px;
   text-transform: uppercase;
   /*font-weight: bold;*/
   cursor: pointer;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
div.keytabs button:hover {
   background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.keytabs button.active {
   background-color: #ccc;
}

/* Style the tab content */
.key-content {
   float: left;
   padding: 0px 12px;
   /*border: 1px solid #ccc;*/
   width: 70%;
   border-left: none;
   height: 400px;
   font-size: 16px;
}

/* Aligns the text descriptions in the key tab*/
.loc{
  margin-bottom: 30px;
}

/* Displays and positions the symbols in the key tab()*/
.symbol{
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
}

/* LEGEND SYMBOLS */
.building-symbol{
  background-image: url('../symbols/building.png');
}

.cc-symbol{
  background-image: url('../symbols/cc.png');
}

.lbpolice-symbol{
  background-image: url('../symbols/lbpolice.png');
}

.pps-symbol{
  background-image: url('../symbols/pp.png');
}

.transit-symbol{
  background-image: url('../symbols/transit.png');
}

.amazon-symbol{
  background-image: url('../symbols/amazon.png');
}

/* PARKING SYMBOLS */
.student-symbol{
  background-image: url('../symbols/student.png');
}

.employee-symbol{
  background-image: url('../symbols/employee.png');
}

.shortterm-symbol{
  background-image: url('../symbols/short-term.png');
}

.residential-symbol{
  background-image: url('../symbols/residential.png');
}

.officialguest-symbol{
  background-image: url('../symbols/official-guest.png');
}

.lot10a-symbol{
  background-image: url('../symbols/lot-10a.png');
}

/* FOOD SYMBOLS */
.usu-symbol{
  background-image: url('../symbols/usu.png');
}

.chartroom-symbol{
  background-image: url('../symbols/chartroom.png');
}

.outpost-symbol{
  background-image: url('../symbols/outpost.png');
}

.nugget-symbol{
  background-image: url('../symbols/nugget.png');
}

.starbucks-symbol{
  background-image: url('../symbols/starbucks.png');
}

.cbean-symbol{
  background-image: url('../symbols/cbean.png');
}

.robeks-symbol{
  background-image: url('../symbols/robeks.png');
}

.chartroom{
  background-image: url('../symbols/chartroom.png')
}



/* GOOGLE MAPS SECTION
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#map{
    overflow: hidden;
    width: 75%;
    height: 1000px;
}

#start, #end{
    display:block;
    color:black;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

p{
  color:white;
}
/* MEDIA SECTION (Different screen sizes)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* SMALL SCREEN SECTION
-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){
  .tab.initial-active {
      display: none;
  }

  div.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  #map{
     /*clear:left;*/
      width: 100%;
      height: 700px;
  }

  aside {
      width: 100%;
      /*height:inherit;*/
      height:600px;
      /*height: 30%;*/
  }

  .icon-bar {
      width: 100%; /* Set a specific width */
      background-color: #555; /* Dark-grey background */
      overflow: auto;
  }

div.container{
  height: 1000px;
}


  #navigation{
    height: 400px;
  }

  #key{
    height:400px;
  }

  #info-circle{
    height:400px;
  }

  #direction-panel {
      margin: 0px 0px 0px 8px;
      font-size: 1em;
      /*height: 100%;*/
      float: left;

      width:95%;
      height:80%;
      /*background-color: white;*/
      overflow: hidden;
  }
}

/* MARKERS TOGGLE SWITCH
-----------------------------------------*/
/* The switch - the box around the slider */
.switch{
  position: relative;
  display: inline-block;
  width: 80px;
  height: 40px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 35px;
  width: 35px;
  left: 5px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .20s;
  transition: .20s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 30px;
}

/* MEDIUM SCREEN SECTION
-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px){
  #flex { display: flex; flex-direction: column; }
  #map { order: 1; }
  aside { order: 2; }
  div.container-fluid{
  }
  aside{
    width: 100%;
  }
  #map{
  }

}

/* LARGE SCREEN SECTION
-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px){

}
