/* GLOBAL
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
div.container {
    width: 100%;
    height: 600px;
    margin:0px;
    padding:0px;
    border: 1px solid gray;
}

header, footer {
    padding: .5em;
    color: white;
    background-color: black;
    clear: left;
}

header{
  text-align: left;
  min-height:100%;
  background: url('../images/csulb-pano.png') ;
  background-position: left;
  background-size:cover;
}

footer{
    text-align: center;
}

aside {
    background-color: #3F3736;
    width: 25%;
    height: 1000px;
    float: left;
}


.tab{
  display: none;
}


.tab.initial-active, .tab.active{
  display: block;
}


/* LEFT SIDE BAR SECTION
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.icon-bar {
    width: 100%; /* Set a specific width */
    background-color: #555; /* Dark-grey background */
    overflow: auto;
}

.icon-bar a {
    float: left;
    margin: 0;
    text-align: center; /* Center-align text */
    width: 33.33%;
    padding: 20px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white;
    font-size: 36px;
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

div.icon-bar a.active {
   background-color: #52a88b;
}

/* NAVIGATION SUBSECTION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#navigation{
  /*float: left;*/
  padding: 0px 12px;
  padding-bottom: 0px;
  width: 100%;
  height: 500px;
}

#from{
  float:left;
}

#to{
  /*margin-top:20px;*/
  clear:left;
  float:left;
}
#start, #end{
  border-radius:40px;
  /*margin-left:80px;*/
}
#direction-panel {
    font-family: 'Roboto','sans-serif';
/*    line-height: 30px;*/
    padding-left: 10px;
    /*background-color:white;*/
}

#direction-panel select, #direction-panel input {
    font-size: 1em;
}

#direction-panel select {
    width: 100%;
}

#direction-panel i {
    font-size: 1em;
}

#direction-panel {
    margin: 30px 0px 0px 8px;
    font-size: 1em;
    /*height: 100%;*/
    float: left;

    width:95%;

    /*background-color: white;*/
    overflow: hidden;
}
/* MAP KEY SUBSECTION
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon-mapkey{
   background-image: url('../icons/mapkey.png');
   display: block;
   width: 50px;
   height: 50px;
   background-repeat: no-repeat;
}
#key{
  color: #ffffff;
}
#key a{
  color: #ffffff;
  text-decoration: none;
}

/* Styles the key tab box */
div.keytabs {
   float: left;
   border: 1px solid #ccc;
   background-color: #f1f1f1;
   width: 30%;
}

/* Styles the buttons inside the tab */
div.keytabs button {
   display: block;
   background-color: inherit;
   color: black;
   /*padding: 22px 16px;   */
   width: 100%;
   height: 133px;
   border: none;
   outline: none;
   text-align: left;
   cursor: pointer;
   transition: 0.3s;
}

/* Change background color of buttons on hover */
div.keytabs button:hover {
   background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.keytabs button.active {
   background-color: #ccc;
}

/* Style the tab content */
.key-content {
   float: left;
   padding: 0px 12px;
   border: 1px solid #ccc;
   width: 70%;
   border-left: none;
   height: 400px;
}

/* Aligns the text descriptions in the key tab*/
.loc{
  margin-bottom: 30px;
}

/* Displays and positions the symbols in the key tab()*/
.symbol{
  display: block;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  float: left;
}

/* LEGEND SYMBOLS */
.building-symbol{
  background-image: url('../icons/building-symbol.png');
}

.cc-symbol{
  background-image: url('../icons/cc-symbol.png');
}

.lbpolice-symbol{
  background-image: url('../icons/lbpolice-symbol.png');
}

.pps-symbol{
  background-image: url('../icons/pps-symbol.png');
}

.transit-symbol{
  background-image: url('../icons/transit-symbol.png');
}

.amazon-symbol{
  background-image: url('../icons/amazon-symbol.png');
}

/* PARKING SYMBOLS */
.student-symbol{
  background-image: url('../icons/student.png');
}

.employee-symbol{
  background-image: url('../icons/employee.png');
}

.shortterm-symbol{
  background-image: url('../icons/short-term.png');
}

.residential-symbol{
  background-image: url('../icons/residential.png');
}

.officialguest-symbol{
  background-image: url('../icons/official-guest.png');
}

.lot10a-symbol{
  background-image: url('../icons/lot-10a.png');
}

/* GOOGLE MAPS SECTION
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
#map{
    overflow: hidden;
    width: 75%;
    height: 1000px;
}

#start, #end{
    display:block;
    color:black;
}

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }

p{
  color:white;
}
/* MEDIA SECTION (Different screen sizes)
------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/* SMALL SCREEN SECTION
-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:800px){
  .tab.initial-active {
      display: none;
  }

  div.container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  aside {
      width: 100%;
      height: inherit;
  }

  .icon-bar {
      width: 100%; /* Set a specific width */
      background-color: #555; /* Dark-grey background */
      overflow: auto;
  }

  #map{
      width: 100%;
      height: 700px;
  }

  #navigation{
    height: 500px;
  }
}

/* MEDIUM SCREEN SECTION
-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px){

}

/* LARGE SCREEN SECTION
-------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (min-width:1024px){

}
